In [3]:
import app

In [1]:
import DBcm

In [4]:
from data_utils import *

In [2]:
connection = {
    'host': 'localhost',
    'user': 'root',
    'password': '123456',
    'database': 'petbnb'
}

In [22]:
connection["password"]

'123456'

In [12]:
connection

{'host': 'localhost',
 'user': 'root',
 'password': '123456',
 'database': 'petbnb'}

In [14]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = "show tables"
    cursor.execute(SQL)
    data = cursor.fetchall()

In [15]:
data

[('customer',)]

In [16]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = "describe customer"
    cursor.execute(SQL)
    data = cursor.fetchall()

In [17]:
data

[('id', b'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('email', b'varchar(50)', 'YES', '', None, ''),
 ('password', b'varchar(16)', 'YES', '', None, '')]

In [10]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = "select * from customer"
    cursor.execute(SQL)
    data = cursor.fetchall()

In [12]:
data

[(1, 'c00223421@itcarlow.ie', '123456'),
 (2, 'imlovincat@gmail.com', '123456'),
 (3, '123@123.com', '123456'),
 (4, '456@123.com', '123456'),
 (5, 'test1@123.com', '123456'),
 (6, 'test3@123.com', '123'),
 (7, 'test2@123.com', '123456'),
 (8, 'test5@123.com', '123456'),
 (9, '345@dfads.com', '123456')]

In [8]:
for row in data:
    print(row)

In [9]:
len(data)

0

In [6]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = "SELECT id,email FROM customer WHERE email = '666@666.com' AND password = '666666'"
    cursor.execute(SQL)
    data = cursor.fetchall()

In [7]:
type(data)

list

In [77]:
len(data)

1

In [24]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = "insert into petsitter (customerid, petsittername) values ('1','tester2')"
    cursor.execute(SQL)

In [50]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = """SELECT id FROM customer WHERE email = %s"""
    cursor.execute(SQL, ('123@123.com',),)
    return_data = cursor.fetchall()

In [51]:
print(return_data[0])

(3,)

In [52]:
print(return_data[0][0])

3

In [90]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = """SELECT * FROM petsitter WHERE petsittername LIKE %s AND city = "ireland" """
    cursor.execute(SQL, (('%' + 'test' + '%'),),)
    return_data = cursor.fetchall()

In [91]:
return_data

[]

In [110]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = """SELECT * FROM petsitter
            WHERE CONCAT(petsittername,country,city,town) LIKE %s"""
    cursor.execute(SQL, (('%' + 'e' + '%'),),)
    return_data = cursor.fetchall()

In [111]:
return_data

[(6,
  3,
  'tester4',
  '',
  '',
  'ireland',
  '',
  '',
  '',
  '',
  0,
  '',
  '',
  'apartment',
  'none',
  0),
 (7,
  3,
  'tester5',
  '456@123.com',
  '123456',
  'ireland',
  'carlow',
  'carlow town',
  'something',
  "['accommodation', 'dogwalking', 'daycare']",
  1,
  "['dog', 'cat']",
  "['1-5kg', '6-10kg', '11-20kg']",
  'detached',
  'small',
  1)]

In [112]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = """SELECT * FROM petsitter
            WHERE CONCAT(petsittername,country,city,town) LIKE %s
            """
    cursor.execute(SQL, (('%' + 'e' + '%'),),)
    return_data = cursor.fetchall()

In [115]:
print(return_data)

[(6, 3, 'tester4', '', '', 'ireland', '', '', '', '', 0, '', '', 'apartment', 'none', 0), (7, 3, 'tester5', '456@123.com', '123456', 'ireland', 'carlow', 'carlow town', 'something', "['accommodation', 'dogwalking', 'daycare']", 1, "['dog', 'cat']", "['1-5kg', '6-10kg', '11-20kg']", 'detached', 'small', 1)]

In [116]:
len(return_data)

2

In [117]:
type(return_data)

list

In [118]:
customerid = 1

In [143]:
petsittername = "Tester1"

In [120]:
email = "example@123"

In [121]:
phone = "123456"

In [122]:
country = "Ireland"

In [123]:
city = "Carlow"

In [124]:
town = "Carlow Town"

In [125]:
address = "6 Green Road"

In [126]:
description ="say something"

In [127]:
price = 15

In [146]:
petservice = "['Pet Accommondation',]"

In [134]:
petnums = 4

In [147]:
pettype = "['Dog','Cat']"

In [148]:
petsize = "['1-5kg']"

In [137]:
housetype = "Apartment"

In [138]:
outdoor = "none"

In [139]:
transport = 1

In [149]:
with DBcm.UseDatabase(connection) as cursor:
            SQL = """ INSERT INTO petsitter (
                      customerid,
                      petsittername,
                      email,
                      phone,
                      country,
                      city,
                      town,
                      address,
                      description,
                      price,
                      petservice,
                      petnums,
                      pettype,
                      petsize,
                      housetype,
                      outdoor,
                      transport,
                      deleteflag
                      ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 0) """
            cursor.execute(SQL, (
                                customerid,
                                petsittername,
                                email,
                                phone,
                                country,
                                city,
                                town,
                                address,
                                description,
                                price,
                                petservice,
                                petnums,
                                pettype,
                                petsize,
                                housetype,
                                outdoor,
                                transport),)

In [150]:
location = "green"

In [151]:
with DBcm.UseDatabase(connection) as cursor:
        SQL = """SELECT * FROM petsitter
                WHERE CONCAT(petsittername,country,city,town,address) LIKE %s
                """
        cursor.execute(SQL, (('%' + location + '%'),),)
        return_data = cursor.fetchall()

In [152]:
return_data

[(1,
  1,
  'Tester1',
  'example@123',
  '123456',
  'Ireland',
  'Carlow',
  'Carlow Town',
  '6 Green Road',
  'say something',
  15,
  "['Pet Accommondation',]",
  4,
  "['Dog','Cat']",
  "['1-5kg']",
  'Apartment',
  'none',
  1,
  0)]

In [162]:
len(return_data)

1

In [172]:
from django.core.paginator import Paginator

In [173]:
objects = ['john', 'paul', 'george', 'ringo']

In [174]:
p = Paginator(objects, 2)

In [175]:
p.count

4

In [176]:
type(p.page_range)

range

In [177]:
p.page_range

range(1, 3)

In [179]:
page1 = p.page(1)

In [180]:
page1

In [181]:
page1.object_list

['john', 'paul']

In [208]:
with DBcm.UseDatabase(connection) as cursor:
        SQL = """SELECT * FROM petsitter
                WHERE CONCAT(petsittername,country,city,town,address) LIKE %s
                """
        cursor.execute(SQL, (('%' + "dublin" + '%'),),)
        data = cursor.fetchall()

In [209]:
data

[(3,
  3,
  'Citywest Pet Boarding/sitting',
  'citywest@petbnb',
  '0897784213',
  'ireland',
  'Dublin',
  'Dublin 14',
  '9 Oakdown Rd',
  "I have been an animal lover from an early age and I grew up surrounded by pets.\r\nI don't own pets currently.\r\nI am a college student and because of covid I'll be spending the majority of my time at home where I can provide the TLC your pet deserves.\r\nI love spending time with pets, playing, walking, training and taking care of them.",
  10,
  '',
  2,
  "['dog', 'cat', 'other']",
  "['1-5kg', '6-10kg']",
  'apartment',
  'none',
  0,
  0),
 (4,
  3,
  "Charlie's Den",
  'charlie@petbnb',
  '0861522456',
  'ireland',
  'Dublin',
  'Dublin 11',
  '32 Collins Pl, Finglas East',
  "I love animals and have a dog of my own (Charlie Brown). I've grown up with dogs and cant live without them really. I can guarantee that your dog will be well cared for , walked and given the attention they deserve. I want to make them feel right at home here with Charlie while being looked after. Charlie doesn't like cuddles so there's lots of free cuddles to go around for your pet while they're missing you:)",
  20,
  "['dogwalking', 'daycare', 'delivery']",
  4,
  "['dog', 'cat']",
  "['1-5kg', '6-10kg', '11-20kg', '21-40kg', '41kg+']",
  'detached',
  'medium',
  1,
  0),
 (7,
  3,
  "Joey' S Dog Homecare",
  'joey@petcare',
  '0874568845',
  'ireland',
  'Dublin',
  'Lucan',
  '8 Elm Way',
  'I m a school teacher, so I m home all the time at summer or weekend, after summer I only work in the morning, so I can suply plenty quality time with dogs, walk, free run dog park beside my home. Gardening together, I write for magzine and website, dogs always with me, they free to come in and go out any time they want, dog will be open. I have cctv camera for back garden, even when get out for food shopping, I can see them any where on my phone.',
  20,
  "['dogwalking', 'daycare', 'delivery']",
  8,
  "['dog', 'cat']",
  "['1-5kg', '6-10kg', '11-20kg']",
  'apartment',
  'none',
  0,
  0),
 (8,
  3,
  'Small Dog Boarding',
  'erika@petcare',
  '083445689',
  'ireland',
  'Dublin',
  'Dublin 6',
  '48 Leeson Park',
  "I grew up around dogs and I love spending time with them\r\nI have a 1 year old Morkie named Cookie, she's a very friendly and kind dog\r\nI work from home and can spend quality time with your pet all day. I will walk them, play with them, try and teach some new tricks and will make sure myself and Cookie have a bond with your dog from the very first minute\r\nI enjoy spending time with dogs and love when they interact with me",
  15,
  "['dogwalking']",
  0,
  "['dog']",
  "['1-5kg', '6-10kg']",
  'apartment',
  'none',
  0,
  0)]

In [185]:
p = Paginator(data, 2)

In [187]:
p.page(1).object_list

[(3,
  3,
  'Citywest Pet Boarding/sitting',
  'citywest@petbnb',
  '0897784213',
  'ireland',
  'Dublin',
  'Dublin 14',
  '9 Oakdown Rd',
  "I have been an animal lover from an early age and I grew up surrounded by pets.\r\nI don't own pets currently.\r\nI am a college student and because of covid I'll be spending the majority of my time at home where I can provide the TLC your pet deserves.\r\nI love spending time with pets, playing, walking, training and taking care of them.",
  10,
  '',
  2,
  "['dog', 'cat', 'other']",
  "['1-5kg', '6-10kg']",
  'apartment',
  'none',
  0,
  0),
 (4,
  3,
  "Charlie's Den",
  'charlie@petbnb',
  '0861522456',
  'ireland',
  'Dublin',
  'Dublin 11',
  '32 Collins Pl, Finglas East',
  "I love animals and have a dog of my own (Charlie Brown). I've grown up with dogs and cant live without them really. I can guarantee that your dog will be well cared for , walked and given the attention they deserve. I want to make them feel right at home here with Charlie while being looked after. Charlie doesn't like cuddles so there's lots of free cuddles to go around for your pet while they're missing you:)",
  20,
  "['dogwalking', 'daycare', 'delivery']",
  4,
  "['dog', 'cat']",
  "['1-5kg', '6-10kg', '11-20kg', '21-40kg', '41kg+']",
  'detached',
  'medium',
  1,
  0)]

In [188]:
p.page(2).object_list

[(7,
  3,
  "Joey' S Dog Homecare",
  'joey@petcare',
  '0874568845',
  'ireland',
  'Dublin',
  'Lucan',
  '8 Elm Way',
  'I m a school teacher, so I m home all the time at summer or weekend, after summer I only work in the morning, so I can suply plenty quality time with dogs, walk, free run dog park beside my home. Gardening together, I write for magzine and website, dogs always with me, they free to come in and go out any time they want, dog will be open. I have cctv camera for back garden, even when get out for food shopping, I can see them any where on my phone.',
  20,
  "['dogwalking', 'daycare', 'delivery']",
  8,
  "['dog', 'cat']",
  "['1-5kg', '6-10kg', '11-20kg']",
  'apartment',
  'none',
  0,
  0),
 (8,
  3,
  'Small Dog Boarding',
  'erika@petcare',
  '083445689',
  'ireland',
  'Dublin',
  'Dublin 6',
  '48 Leeson Park',
  "I grew up around dogs and I love spending time with them\r\nI have a 1 year old Morkie named Cookie, she's a very friendly and kind dog\r\nI work from home and can spend quality time with your pet all day. I will walk them, play with them, try and teach some new tricks and will make sure myself and Cookie have a bond with your dog from the very first minute\r\nI enjoy spending time with dogs and love when they interact with me",
  15,
  "['dogwalking']",
  0,
  "['dog']",
  "['1-5kg', '6-10kg']",
  'apartment',
  'none',
  0,
  0)]

In [200]:
page_obj=p.page(1)

In [191]:
from django.views.generic import ListView

In [201]:
page_obj.has_next

In [211]:
petsittername = "Leixlip Boarding Services"

In [213]:
with DBcm.UseDatabase(connection) as cursor:
        SQL = """SELECT * FROM petsitter WHERE petsittername = %s limit 1"""
        cursor.execute(SQL, (petsittername,),)
        data = cursor.fetchall()

In [214]:
data

[(1,
  3,
  'Leixlip Boarding Services',
  'lexilipservices@petbnb',
  '0872233441',
  'ireland',
  'Kildare',
  'Leixlip',
  '113 Oaklawn W',
  'I have been a dog owner for over 20 years and enjoy every moment of it the company the fun on all the walks and hikes I do with my dog\r\nI own a German shepherd cross who I walk daily and play with daily as well she is 3 and half years old going on 6 months she make me laugh when she doesn’t get her way the diva definitely comes out\r\nI am very flexible and very responsible when I’m out with my own dog and other dogs I walk I make such they get a great amount of exercise but physical and mental\r\nEverything because I also run my own business as well which allows me to spend plenty of time when I am looking after my own dog and other dogs',
  15,
  "['dogwalking', 'daycare', 'delivery']",
  8,
  "['dog', 'cat', 'other']",
  "['1-5kg', '6-10kg', '11-20kg', '21-40kg', '41kg+']",
  'detached',
  'large',
  1,
  0)]

In [49]:
service = "['dogwalking', 'daycare', 'delivery']"

In [50]:
service

"['dogwalking', 'daycare', 'delivery']"

In [27]:
len(service)

37

In [66]:
if 36 == len(service)-1:
    print (len(service)-1)

36

In [44]:
service[36]

']'

In [110]:
service = "['dogwalking', 'daycare', 'delivery']"
i = 2
servicelist = [] 
newstring =""
while i != len(service):
    if i == len(service)-2:
            servicelist.append(newstring)
    elif service[i] == "'" and service[i+1] == "," and service[i+2] == " " and service[i+3] == "'":
        servicelist.append(newstring)
        newstring = ""
        i = i+3
    else:
        newstring += service[i]
        
    i = i+1

In [111]:
servicelist

['dogwalking', 'daycare', 'delivery']

In [14]:
i = 0
servicelist = [] 
newstring =""
while service != "":
    if service[i] != "[" or service[i] != "]" or service[i] != "'":
        if service[i] != ",":
            newstring += service[i]
        else: 
            servicelist.append(newstring)
            newstring = ""
    i = i+1

In [7]:
newstr ="abc"

In [8]:
newlist.append(newstr)

In [9]:
newlist

['abc']

In [4]:
email="c00223421@itcarlow.ie"

In [14]:
with DBcm.UseDatabase(connection) as cursor:
            SQL = """SELECT email, fname, sname, title, contactNumber FROM customer WHERE email = %s"""
            cursor.execute(SQL, (email,),)
            data = cursor.fetchall()

In [15]:
data

[('c00223421@itcarlow.ie', 'Chi Ieong', 'Ng', 'Mr', '353834108800')]

In [25]:
from datetime import datetime

In [13]:
datetime.today().strftime('%Y-%m-%dT%H:%M')

'2021-05-05T21:14'

In [14]:
today = datetime.today().strftime('%Y-%m-%d')

In [15]:
today

'2021-05-05'

In [19]:
year = int(today[0])*1000 +  int(today[1])*100 +  int(today[2])*10 +  int(today[3])

In [21]:
year += 1

In [22]:
year

2022

In [23]:
from datetime import date

In [26]:
a_date = datetime.today().strftime('%Y-%m-%d')

In [66]:
year = int(a_date[0:4])

In [67]:
month = int(a_date[5:7])

In [65]:
day = int(a_date[8:10])

In [68]:
checkin = date(year,month,day)

In [69]:
checkout = date(2021,6,20)

In [70]:
days = checkout - checkin

In [72]:
days.days

46

In [73]:
newlist = ["A","B","C"]

In [80]:
for row in newlist:
    print (row)
    print (newlist[-1])

A
C
B
C
C
C

In [81]:
user = "c00223421@itcarlow.ie"

In [82]:
with DBcm.UseDatabase(connection) as cursor:
     SQL = """SELECT id FROM customer WHERE email = %s"""
     cursor.execute(SQL,(user,),)
     return_data = cursor.fetchall()

In [84]:
return_data[0][0]

1

In [86]:
from random import seed

In [87]:
from random import randint

In [90]:
randint(0,9999)

2192

In [97]:
customerid = 1

In [146]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = """SELECT 
    booking.bookingRef,
    booking.petsitterID, 
    booking.status,
    booking.title,
    booking.fname,
    booking.sname,
    booking.phone,
    booking.email,
    booking.startDate,
    booking.endDate,
    booking.totalPrice,
    booking.petQunatity,
    booking.typeOfPet,
    booking.breed,
    booking.note,
    booking.createdBy,
    petsitter.petsittername,
    petsitter.country,
    petsitter.city,
    petsitter.town,
    petsitter.address
    FROM booking
    INNER JOIN petsitter ON (booking.petsitterID = petsitter.id)
    WHERE booking.customerID = %s"""
    cursor.execute(SQL, (customerid,),)
    data = cursor.fetchall()

In [147]:
data

[('PETBNB00202105060405329397',
  8,
  'Pending',
  'Mr',
  'Chi Ieong',
  'Ng',
  '',
  'c00223421@itcarlow.ie',
  datetime.date(2021, 5, 6),
  datetime.date(2021, 5, 14),
  '240',
  2,
  "['dog']",
  '',
  '',
  datetime.datetime(2021, 5, 6, 4, 5, 32),
  'Small Dog Boarding',
  'ireland',
  'Dublin',
  'Dublin 6',
  '48 Leeson Park'),
 ('PETBNB00202105060607227031',
  9,
  'Pending',
  'Mr',
  'Chi Ieong',
  'Ng',
  '353834108800',
  'c00223421@itcarlow.ie',
  datetime.date(2021, 5, 14),
  datetime.date(2021, 5, 21),
  '420',
  2,
  "['dog', 'cat']",
  '',
  '',
  datetime.datetime(2021, 5, 6, 6, 7, 22),
  'Katie’s Pet Boarding',
  'ireland',
  'Wexford',
  'Caim',
  "4 St John's Terrace"),
 ('PETBNB00202105060614581414',
  7,
  'Pending',
  'Mr',
  'Chi Ieong',
  'Ng',
  '353834108800',
  'c00223421@itcarlow.ie',
  datetime.date(2021, 5, 11),
  datetime.date(2021, 5, 19),
  '320',
  2,
  "['dog', 'cat']",
  '',
  '',
  datetime.datetime(2021, 5, 6, 6, 14, 58),
  "Joey' S Dog Homecare",
  'ireland',
  'Dublin',
  'Lucan',
  '8 Elm Way')]

In [148]:
ref = "PETBNB00202105060614581414"

In [151]:
with DBcm.UseDatabase(connection) as cursor:
            SQL = """SELECT 
                     booking.status,
                     booking.title,
                     booking.fname,
                     booking.sname,
                     booking.phone,
                     booking.email,
                     booking.startDate,
                     booking.endDate,
                     booking.totalPrice,
                     booking.paymentMethod,
                     booking.petQunatity,
                     booking.typeOfPet,
                     booking.breed,
                     booking.note,
                     booking.createdBy,
                     petsitter.petsittername,
                     petsitter.email,
                     petsitter.phone,
                     petsitter.country,
                     petsitter.city,
                     petsitter.town,
                     petsitter.address
                     FROM booking
                     INNER JOIN petsitter ON (booking.petsitterID = petsitter.id)
                     WHERE booking.bookingRef = %s LIMIT 1"""
            cursor.execute(SQL, (ref,),)
            data = cursor.fetchall()

In [152]:
data

[('Pending',
  'Mr',
  'Chi Ieong',
  'Ng',
  '353834108800',
  'c00223421@itcarlow.ie',
  datetime.date(2021, 5, 11),
  datetime.date(2021, 5, 19),
  '320',
  None,
  2,
  "['dog', 'cat']",
  '',
  '',
  datetime.datetime(2021, 5, 6, 6, 14, 58),
  "Joey' S Dog Homecare",
  'joey@petcare',
  '0874568845',
  'ireland',
  'Dublin',
  'Lucan',
  '8 Elm Way')]

In [7]:
payment = "300"

In [8]:
from decimal import *

In [16]:
str("{:.2f}".format(float(payment)))

'300.00'

In [17]:
newlist = ['Successfully created transaction with Transaction ID: 40064835361', 'Transaction Response Code: 1', 'Message Code: 1', 'Description: This transaction has been approved.']

In [18]:
newlist[0]

'Successfully created transaction with Transaction ID: 40064835361'

In [19]:
newlist[0][-11:-1]

'4006483536'

In [27]:
createdBy = datetime.today().strftime('%Y-%m-%d %H:%M:%S')

In [28]:
transactionID = "40064850987"

In [29]:
bookingRef = "PETBNB00202105071453322152"

In [34]:
with DBcm.UseDatabase(connection) as cursor:
            SQL = """INSERT INTO payment (
                    transactionID,
                    bookingRef,
                    createdBy,
                    canceled
                    ) VALUES (
                    %s,%s,%s,0 
                    )        
                    """
            cursor.execute(SQL, (transactionID, bookingRef, createdBy,),)

In [6]:
petsittername = "Leixlip Boarding Services"

In [25]:
data = view_petsitter_data(petsittername)

In [36]:
data[0][19]

IndexError: tuple index out of range

In [11]:
import os.path
from os import path

In [13]:
path.exists("static/images/petsitter.png")

True

In [22]:
data

'dublin'

In [46]:
data = {
    "location": "dublin",
}

In [47]:
search_petsitter_data(data)

[(4,
  3,
  "Charlie's Den",
  'charlie@petbnb',
  '0861522456',
  'ireland',
  'Dublin',
  'Dublin 11',
  '32 Collins Pl, Finglas East',
  "I love animals and have a dog of my own (Charlie Brown). I've grown up with dogs and cant live without them really. I can guarantee that your dog will be well cared for , walked and given the attention they deserve. I want to make them feel right at home here with Charlie while being looked after. Charlie doesn't like cuddles so there's lots of free cuddles to go around for your pet while they're missing you:)",
  20,
  "['dogwalking', 'daycare', 'delivery']",
  4,
  "['dog', 'cat']",
  "['1-5kg', '6-10kg', '11-20kg', '21-40kg', '41kg+']",
  'detached',
  'medium',
  1,
  0),
 (7,
  3,
  "Joey' S Dog Homecare",
  'joey@petcare',
  '0874568845',
  'ireland',
  'Dublin',
  'Lucan',
  '8 Elm Way',
  'I m a school teacher, so I m home all the time at summer or weekend, after summer I only work in the morning, so I can suply plenty quality time with dogs, walk, free run dog park beside my home. Gardening together, I write for magzine and website, dogs always with me, they free to come in and go out any time they want, dog will be open. I have cctv camera for back garden, even when get out for food shopping, I can see them any where on my phone.',
  20,
  "['dogwalking', 'daycare', 'delivery']",
  8,
  "['dog', 'cat']",
  "['1-5kg', '6-10kg', '11-20kg']",
  'apartment',
  'none',
  0,
  0),
 (8,
  3,
  'Small Dog Boarding',
  'erika@petcare',
  '083445689',
  'ireland',
  'Dublin',
  'Dublin 6',
  '48 Leeson Park',
  "I grew up around dogs and I love spending time with them\r\nI have a 1 year old Morkie named Cookie, she's a very friendly and kind dog\r\nI work from home and can spend quality time with your pet all day. I will walk them, play with them, try and teach some new tricks and will make sure myself and Cookie have a bond with your dog from the very first minute\r\nI enjoy spending time with dogs and love when they interact with me",
  15,
  "['dogwalking']",
  0,
  "['dog']",
  "['1-5kg', '6-10kg']",
  'apartment',
  'none',
  0,
  0),
 (12,
  5,
  'Little Paws',
  '456@123.com',
  '0851234567',
  'ireland',
  'Dublin',
  'Dublin 14',
  '3 Ardilea Wood',
  'hi im kiera i absolutely love all animals especially dogs ive a huge garden an park just across from me so they will hav plenty of walks ive done lots of voluntary work with the blue cross\r\n',
  30,
  "['dogwalking', 'daycare', 'delivery']",
  0,
  "['Dog', 'Cat', 'Horse']",
  "['1-5kg', '6-10kg', '11-20kg', '21-40kg', '41kg+']",
  'apartment',
  'small',
  1,
  0)]

In [55]:
data[0][0].append("dublin")

KeyError: 0

In [83]:
email = "peterpan@example.com"

In [86]:
with DBcm.UseDatabase(connection) as cursor:
        SQL = """SELECT petsitter.id, petsitter.petsittername FROM petsitter
                INNER JOIN customer ON (petsitter.customerid = customer.id)
                WHERE customer.email = %s
                
                """
        cursor.execute(SQL, (email,),)
        data = cursor.fetchall()

In [87]:
data

[(1, 'Leixlip Boarding Services'),
 (2, 'Monread Dog Boarding'),
 (4, "Charlie's Den"),
 (5, 'Raluca Animal Boarding'),
 (6, 'Kristinas'),
 (7, "Joey' S Dog Homecare"),
 (8, 'Small Dog Boarding'),
 (9, 'Katie’s Pet Boarding')]

In [88]:
petsittername="Leixlip Boarding Services"

In [92]:
email = "peterpan@example.com"

In [98]:
with DBcm.UseDatabase(connection) as cursor:
            SQL = """SELECT petsitter.* FROM petsitter
                    INNER JOIN customer ON (petsitter.customerid = customer.id)
                    WHERE petsitter.petsittername = %s AND customer.email = %s
                    """
            cursor.execute(SQL, (petsittername,email,),)
            data = cursor.fetchall()

In [99]:
data

[(1,
  3,
  'Leixlip Boarding Services',
  'lexilipservices@petbnb',
  '0872233441',
  'ireland',
  'Kildare',
  'Leixlip',
  '113 Oaklawn W',
  'I have been a dog owner for over 20 years and enjoy every moment of it the company the fun on all the walks and hikes I do with my dog\r\nI own a German shepherd cross who I walk daily and play with daily as well she is 3 and half years old going on 6 months she make me laugh when she doesn’t get her way the diva definitely comes out\r\nI am very flexible and very responsible when I’m out with my own dog and other dogs I walk I make such they get a great amount of exercise but physical and mental\r\nEverything because I also run my own business as well which allows me to spend plenty of time when I am looking after my own dog and other dogs',
  15,
  "['dogwalking', 'daycare', 'delivery']",
  8,
  "['dog', 'cat', 'other']",
  "['1-5kg', '6-10kg', '11-20kg', '21-40kg', '41kg+']",
  'detached',
  'large',
  1,
  0)]

In [100]:
petsittername="Leixlip Boarding Services"

In [103]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = """SELECT booking.* FROM booking
             INNER JOIN petsitter ON (booking.petSitterID = petsitter.id)
             WHERE petsitter.petsittername = %s AND booking.deleteflag = 0
          """
    cursor.execute(SQL, (petsittername,),)
    data = cursor.fetchall()

In [104]:
data

[(9,
  'PETBNB00202105111821515404',
  1,
  0,
  'Pending',
  'Mr',
  'Tester',
  'Surname',
  '1234567',
  '123@123.com',
  datetime.date(2021, 5, 11),
  datetime.date(2021, 5, 11),
  '15',
  None,
  1,
  "['dog']",
  '',
  '',
  datetime.datetime(2021, 5, 11, 18, 21, 51),
  0),
 (10,
  'PETBNB00202105111823003546',
  1,
  0,
  'Pending',
  'Mr',
  'Tester',
  'Surname',
  '1234567',
  '123@123.com',
  datetime.date(2021, 5, 11),
  datetime.date(2021, 5, 11),
  '15',
  None,
  1,
  "['dog']",
  '',
  '',
  datetime.datetime(2021, 5, 11, 18, 23),
  0)]

In [105]:
petsittername="Leixlip Boarding Services"

In [106]:
status = "Pending"

In [107]:
with DBcm.UseDatabase(connection) as cursor:
            SQL = """SELECT COUNT(*) FROM booking
                     INNER JOIN petsitter ON (booking.petSitterID = petsitter.id)
                     WHERE petsitter.petsittername = %s AND booking.status = %s AND booking.deleteflag = 0
                  """
            cursor.execute(SQL, (petsittername,status,),)
            data = cursor.fetchall()

In [108]:
data

[(2,)]

In [110]:
data[0][0]

2

In [147]:
bookingRef = "PETBNB00202105060405329397"

In [148]:
petsittername = "Small Dog Boarding"

In [154]:
email = ""

In [157]:
with DBcm.UseDatabase(connection) as cursor:
            SQL = """SELECT COUNT(*) FROM booking
                     INNER JOIN customer ON (booking.customerID = customer.id)
                     
                     WHERE booking.bookingRef = %s AND customer.email = %s AND booking.deleteflag= 0
                  """
            cursor.execute(SQL, (bookingRef,email, ),)
            data = cursor.fetchall()

In [158]:
data

[(0,)]

In [155]:
with DBcm.UseDatabase(connection) as cursor:
            SQL = """SELECT COUNT(*) FROM booking
                     INNER JOIN petsitter ON (booking.petSitterID = petsitter.id)
                     INNER JOIN customer ON (petsitter.customerid = customer.id)
                     
                     WHERE booking.bookingRef = %s AND customer.email = %s AND petsitter.petsittername = %s AND booking.deleteflag = 0
                  """
            cursor.execute(SQL, (bookingRef,email,petsittername),)
            data = cursor.fetchall()

In [159]:
len(data)

1

In [160]:
today = datetime.today().strftime('%Y-%m-%d')

In [161]:
data = view_booking_by_ref_data(bookingRef)

In [173]:
checkin = data[0][6].strftime('%Y-%m-%d')

In [167]:
today

'2021-05-13'

In [168]:
tomorrow = '2021-5-14'

In [169]:
tomorrow

'2021-5-14'

In [174]:
checkin

'2021-05-06'

In [175]:
if today > checkin:
    print("True")
else: print("False")

True

In [177]:
accessType = "petsitter"

In [186]:
status = "Pending"

In [191]:
if checkin > today:
    if "petsitter" in accessType or "customer" in accessType:
        if "Pending" in status or "Confirmed" in status:
            print("yes")

In [192]:
if (checkin > today) and ("petsitter" in accessType or "customer" in accessType) and ("Pending" in status or "Confirmed" in status):
            print("yes")

yes

In [206]:
bookingRef = "PETBNB00202105132037038217"

In [207]:
status = "Pending"

In [209]:
with DBcm.UseDatabase(connection) as cursor:
                SQL = """UPDATE booking
                         SET status = %s
                         WHERE bookingRef = %s
                      """
                cursor.execute(SQL, (status,bookingRef,),)

In [202]:
pettype = ["dog","cat"]

In [205]:
for row in pettype:
    print(row)
    print(row)

dog
cat

In [210]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = """SELECT email FROM customer"""
    cursor.execute(SQL)
    data = cursor.fetchall()

In [211]:
data

[('456@123.com',),
 ('c00223421@itcarlow.ie',),
 ('cat@123.com',),
 ('peterpan@example.com',),
 ('susanbyrne@example.com',),
 ('tomhanks@example.com',)]

In [212]:
import json

In [213]:
petsittername="Rebecca"

In [223]:
email = "tester2@123.com"

In [224]:
        with DBcm.UseDatabase(connection) as cursor:
                SQL = """SELECT customer.id FROM customer
                         INNER JOIN petsitter ON (petsitter.customerid = customer.id)
                         WHERE petsitter.petsittername = %s AND customer.email = %s"""
                cursor.execute(SQL,(petsittername,email,),)
                data  = cursor.fetchall()
                if len(data) == 0: print(False)
                else: print(True)

False

In [263]:
data

[]

In [296]:
        with DBcm.UseDatabase(connection) as cursor:
                SQL = """SELECT DISTINCT pettype FROM petsitter"""
                cursor.execute(SQL)
                data  = cursor.fetchall()

In [289]:
data

[("['dog', 'cat', 'other']",),
 ("['dog']",),
 ("['dog', 'cat']",),
 ("['Dog', 'Cat', 'other', 'Horse']",),
 ("['Dog', 'Cat', 'Horse']",),
 ("['Dog', 'Cat', 'Bird', '']",),
 ("['Dog', 'Cat', 'Rabbit', 'Guinea Pig', 'Ferret', 'Bird', 'Reptile', '']",)]

In [297]:
pettype = ['dog','cat']
lastEle = ['other']
newlist = []
while len(data) > 0:
    temp = data.pop()
    templist = str_to_list(temp[0])
    while len(templist) > 0:
        tempElement = templist.pop()
        if tempElement.lower() not in newlist and tempElement.lower() not in pettype and tempElement.lower() not in lastEle and tempElement != "":
            newlist.append(tempElement.lower())
newlist.sort()
pettype.extend(newlist)
pettype.extend(lastEle)
print(pettype)

['dog', 'cat', 'bird', 'ferret', 'guinea pig', 'horse', 'rabbit', 'reptile', 'other']

In [294]:
data.upper()

AttributeError: 'list' object has no attribute 'upper'

TypeError: list indices must be integers or slices, not str

In [229]:
len(data)

7

In [238]:
newdata = data.pop()

In [244]:
newdata

("['Dog', 'Cat', 'Horse']",)

In [250]:
new = str_to_list(newdata[0])

In [251]:
new

['Dog', 'Cat', 'Horse']

In [252]:
new1 = new.pop()

In [254]:
len(new)

2

In [253]:
new1

'Horse'

In [442]:
data = dict([('country', 'Ireland'), ('location', 'Cork'), ('numofpet', '2'), ('pettype1', 'dog'), ('pettype2', 'dog'), ('pettype3', 'dog'), ('pettype4', 'dog')])

In [416]:
SQL

'SELECT * FROM petsitter WHERE country = Ireland'

In [449]:
SQL = """SELECT * FROM petsitter WHERE country = """
SQL += "'" + data['country'] + "'"
if data['location'] != '':
    SQL += " AND CONCAT(petsittername,city,town,address) LIKE '%" + data['location'] +"%' "
if data['numofpet'] != '':
    SQL += "AND petnums >= " + data['numofpet']
if data['pettype1'] != '':
    SQL += " AND pettype LIKE '%" + data['pettype1'] + "%' "
if data['pettype2'] != '':
    SQL += " AND pettype LIKE '%" + data['pettype2'] + "%' "  
if data['pettype3'] != '':
    SQL += " AND pettype LIKE '%" + data['pettype3'] + "%' "
if data['pettype4'] != '':
    SQL += " AND pettype LIKE '%" + data['pettype4'] + "%' "
with DBcm.UseDatabase(connection) as cursor:
        cursor.execute(SQL)
        return_data = cursor.fetchall()



print(SQL)

SELECT * FROM petsitter WHERE country = 'Ireland' AND CONCAT(petsittername,city,town,address) LIKE '%Cork%' AND petnums >= 2 AND pettype LIKE '%dog%'  AND pettype LIKE '%dog%'  AND pettype LIKE '%dog%'  AND pettype LIKE '%dog%'

In [447]:
with DBcm.UseDatabase(connection) as cursor:
        cursor.execute(SQL)
        return_data = cursor.fetchall()

In [450]:
len(return_data)

1

In [451]:
data = view_account_data("c00223421@itcarlow.ie")

In [452]:
data

[('Chi Ieong',
  'Ng',
  'Mr',
  datetime.date(1980, 2, 13),
  '6 Green Road, Carlow, Ireland',
  '353834108800')]

In [453]:
data[0][2]

'Mr'

In [454]:
data[0][3]

datetime.date(1980, 2, 13)

In [456]:
str(data[0][3])

'1980-02-13'

In [463]:
email = "c00223@itcarlow.ie"

In [464]:
with DBcm.UseDatabase(connection) as cursor:
            SQL = """SELECT COUNT(*) FROM customer WHERE email = %s"""
            cursor.execute(SQL,(email,),)
            data = cursor.fetchall()

In [465]:
data[0][0]

0

In [466]:
petsittername = "Leixlip Boarding Services"

In [467]:
data = view_petsitter_data(petsittername)

In [468]:
data[0][13]

"['dog', 'cat', 'other']"

In [470]:
if 'dogg' in data[0][13]:
    print(True)

In [485]:
pettype = ['dog', 'cat', 'bird', 'ferret', '']

In [486]:
type(pettype)

list

In [ ]:
pettype = format(data.getlist('type[]'))

In [484]:
pettype

['dog', 'cat', 'bird', 'ferret', '']

In [480]:
pettype.remove('')

In [481]:
pettype

['dog', 'cat', 'bird', 'ferret']

In [477]:
for row in pettype:
    if row == '':
        pettype.remove(row)

In [478]:
pettype

['dog', 'cat', 'bird', 'ferret']

In [512]:
pettype = "['dog', 'cat', 'bird', 'ferret', '']"

In [510]:
pettype = pettype.replace(", ''","")

In [511]:
pettype

"['dog', 'cat', 'bird', 'ferret']"