In [1]:
import app

In [1]:
import DBcm

In [10]:
connection = {
    'host': 'localhost',
    'user': 'root',
    'password': '123456',
    'database': 'petbnb'
}

In [11]:
connection["password"]

'123456'

In [12]:
connection

{'host': 'localhost',
 'user': 'root',
 'password': '123456',
 'database': 'petbnb'}

In [14]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = "show tables"
    cursor.execute(SQL)
    data = cursor.fetchall()

In [15]:
data

[('customer',)]

In [16]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = "describe customer"
    cursor.execute(SQL)
    data = cursor.fetchall()

In [17]:
data

[('id', b'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('email', b'varchar(50)', 'YES', '', None, ''),
 ('password', b'varchar(16)', 'YES', '', None, '')]

In [82]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = "select * from customer"
    cursor.execute(SQL)
    data = cursor.fetchall()

In [83]:
data

[(1, 'c00223421@itcarlow.ie', '123456'),
 (2, 'imlovincat@gmail.com', '123456'),
 (3, '123@123.com', '123456'),
 (4, '456@123.com', '123456'),
 (5, 'test1@123.com', '123456'),
 (6, 'test3@123.com', '123'),
 (7, 'test2@123.com', '123456'),
 (8, 'test5@123.com', '123456'),
 (9, '345@dfads.com', '123456')]

In [55]:
for row in data:
    print(row)

(1, 'c00223421@itcarlow.ie', '123456')
(2, 'imlovincat@gmail.com', '123456')
(3, '123@123.com', '123456')
(4, '456@123.com', '123456')
(5, 'test1@123.com', '123456')
(6, 'test1@123.com', '123')
(7, 'test2@123.com', '123456')

In [79]:
len(data)

7

In [71]:
with DBcm.UseDatabase(connection) as cursor:
    SQL = "SELECT id,email FROM customer WHERE email = '123@123.com' AND password = '123456'"
    cursor.execute(SQL)
    data = cursor.fetchall()

In [76]:
type(data)

list

In [77]:
len(data)

1